body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image : url(images/bg3.jpg);
  background-size : cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.addDancerButton{
  padding:5px 12px;
  float:right;
}
.stageButton{
  padding:5px 12px;
  float:left;
}

.topbar{
  height:45px;
  background-color: white;
}
.title{
  background-color: #777;
}
.btn{
  background-color: white;
  font-size: 20px !important;
  font-weight: 900 !important;
}
.blinky{
  position:absolute;
  animation: move 4s infinite;
}

.runner{
  position:absolute;
}
.fading{
  position:absolute;
  animation:fadein 2s infinite;
  /*animation:bounce 4s linear infinite;*/
}

.zoomRotate{
  position:absolute;
  animation:rotator 4s infinite;
  /*animation:spin 4s linear infinite;*/
  /*animation:bounce 4s linear infinite;*/
}

.mouseOver{
  position:absolute;
  animation:bounce 4s linear infinite;

}

@-webkit-keyframes rotator {
  0% { transform:rotate(0deg) scale(1) }
  25% { transform:rotate(180deg) scale(1.5) }
  100% { transform:rotate(360deg) scale(1) }
}
@-webkit-keyframes fadein {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}
@-webkit-keyframes bounce {
 from {
   left: 10%;
 }
 to {
   left: 90%;
 }
}
@-webkit-keyframes move
{
  0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: ease-in;
  }
  25% {
      transform: translate3d(100px, 0px, 0px);
      animation-timing-function: ease-out;
  }
  50% {
      transform: translate3d(100px, 100px, 0px);
      animation-timing-function: ease-in;
  }
  75% {
      transform: translate3d(0px, 100px, 0px);
      animation-timing-function: ease-out;
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}
